.SearchBar{
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  
}
.SearchBar input{
    border-radius: 12px;
    width: 220px;
    padding: 5px;
    border: 4px solid rgb(99, 95, 95);
    background-color: rgba(126, 120, 131, 0.151);
    outline:none;
    
}

.SearchBar button{
    font-weight: bold;
    border-radius: 5px;
    padding: 6px;
    margin: 5px;
    border: 4px solid rgb(99, 95, 95);
    background-color: rgba(126, 120, 131, 0.151);
}